@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.layout-content {
    padding: 16px;
    margin: auto;
    text-align: center;
}

@media (min-width: 960px) {
    .layout-content {
        max-width: 860px;
    }
}

@media (min-width: 1280px) {
    .layout-content {
        max-width: 1240px;
    }
}