body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;;
}

.MuiRating-root {
    top: 0.15em;
}

.MuiRating-decimal {
    font-size: 1rem;
}

/* .MuiCardContent-root:last-child {
    padding-bottom: 10px;
} */

